:root {
  color-scheme: dark;
}

html {
  box-sizing: content-box;
  border: none;
  font: normal 16px/1 Verdana, Geneva, sans-serif;
  color: rgb(152, 217, 204);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: #000000;
}

td.myr {
  background-color: rgb(3, 37, 37);
}


td.myr_error {
  color: firebrick;
  background-color: rgb(3, 37, 37);
}

div.myr_controller {
  display: block;
  width: 200px;
}

div.myr_error {
  background-color: firebrick;
  color: wheat;
  transition-property: opacity, display;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

div.myr_error.myr_vanish {
  display: none;
  opacity: 0;
}

div.myr_control {
  display: block;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  border-radius: 1px;
  border-color: white;
}

div.myr_readonly {
  color: rgb(124, 124, 237);
}

div.myr_description {
  z-index: 10;
  display: block;
  float: right;
  right:0;
  top:0;
}

div.myr_button {
  display: block;
}

div.myr_button::after {
  content: "";
  clear: both;
  display: table;
}

label.myr_auto_label,label.myr_enabled_label,input.myr_auto,input.myr_enabled {
  float: left;
}

label {
  display: block;
  max-width: 150px;
}

input {
  display: block;
  background-color: darkblue;
  color: wheat;
}

input:read-only {
  background-color: #000000;
  color:rgb(124, 124, 237);
}

/* PPI viewer */


div.myr_container {
  width: 100%;
  height: 100vh;
}

div.myr_controller_left {
  float: left;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
}

div.myr_ppi {
  float: left;
  display:flex;
  flex-direction:column;
  background-color: rgb(32, 32, 32);
  position: relative;
  width: calc(100% - 200px);
  height: 100vh;
}

#myr_canvas {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

#myr_canvas_background {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0px;
}
