/* ============================================
   Base Styles - Reset, Typography, Variables
   ============================================ */

:root {
  color-scheme: dark;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: content-box;
  border: none;
  font: normal 16px/1 Verdana, Geneva, sans-serif;
  color: rgb(152, 217, 204);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: #000000;
}

/* Base table cells */
td.myr {
  background-color: rgb(3, 37, 37);
}

td.myr_error {
  color: firebrick;
  background-color: rgb(3, 37, 37);
}

/* Error and warning messages */
div.myr_error {
  background-color: firebrick;
  color: wheat;
  transition-property: opacity, display;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

div.myr_error.myr_vanish {
  display: none;
  opacity: 0;
}

div.myr_warning {
  background-color: rgb(60, 50, 10);
  color: rgb(255, 200, 100);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

/* Network help details styling for dark mode */
details {
  color: rgb(152, 217, 204);
}

details div {
  background: rgb(20, 40, 40) !important;
  color: rgb(180, 200, 200);
}

details p {
  margin: 5px 0;
}

details strong {
  color: rgb(100, 200, 180);
}

/* Base form elements */
label {
  display: block;
  max-width: 150px;
}

input {
  display: block;
  background-color: darkblue;
  color: wheat;
}

input:read-only {
  background-color: #000000;
  color:rgb(124, 124, 237);
}
