/* ============================================
   Responsive Styles - Media Queries
   ============================================ */

/* Touch-friendly: larger touch targets */
@media (pointer: coarse) {
  .myr_power_button,
  .myr_range_button,
  .myr_toggle_button,
  .myr_enum_button,
  .myr_mode_button {
    min-height: 44px;
    font-size: 14px;
  }

  .myr_slider {
    height: 32px;
  }

  .myr_slider::-webkit-slider-thumb {
    width: 32px;
    height: 32px;
  }

  .myr_slider::-moz-range-thumb {
    width: 32px;
    height: 32px;
  }
}
