name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64-unknown-linux-musl, aarch64-unknown-linux-musl, x86_64-pc-windows-gnu]

    steps:

    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.target }}
        override: true

    - name: Install Cross
      run: cargo install cross

    - name: Install gui npm package
      run: npm install @marineyachtradar/mayara-gui

    - name: copy gui
      run: pwd
      run: ls -l
      run: cp -r node_modules/@marineyachtradar/mayara-gui web/v3/gui
    - name: Build
      run: cross build --release --target ${{ matrix.target }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mayara-server for ${{ matrix.target }}
        path: target/${{ matrix.target }}/release/mayara-server*

  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --release --verbose
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Mayara Windows x86_64
        path: target/release/mayara-server.exe
