
html {
  box-sizing: content-box;
  border: none;
  font: normal 16px/1 Verdana, Geneva, sans-serif;
  color: rgb(152, 217, 204);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #000000;
}

div.controller {
  display: block;
  width: 200px;
}

div.error {
  display: block;
  border-width: 0px;
  background-color: firebrick;
  color: wheat;
}

div.control {
  display: block;
  border-style: solid;
  border-radius: 3px;
  border-color: lightskyblue;
}

div.description {
  display: block;
}

label {
  display: block;
}

input {
  display: block;
  background-color: darkblue;
  color: wheat;
}

input:read-only {
  background-color: #000000;
  color: rgb(152, 217, 204);
}
